[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "vim/bundle/buftabs"]
	path = vim/bundle/buftabs
	url = https://github.com/vim-scripts/buftabs.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/hybrid"]
	path = vim/bundle/hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "vim/bundle/gtk-vim-syntax"]
	path = vim/bundle/gtk-vim-syntax
	url = https://github.com/vim-scripts/gtk-vim-syntax.git
[submodule "vim/bundle/a-plugin"]
	path = vim/bundle/a-plugin
	url = https://github.com/vim-scripts/a.vim.git
